<a href="https://colab.research.google.com/github/gustavo-duarte-silva/data_leakage/blob/main/Data_Leakage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#importando dados do Kaggle
data = pd.read_csv('/content/drive/MyDrive/CIENTISTA DE DADOS/PROJETOS/CREDIT CARD /AER_credit_card_data.csv', true_values=['yes'], false_values =['no'])
data

       card  reports       age  income  ...  dependents  months  majorcards  active
0      True        0  37.66667  4.5200  ...           3      54           1      12
1      True        0  33.25000  2.4200  ...           3      34           1      13
2      True        0  33.66667  4.5000  ...           4      58           1       5
3      True        0  30.50000  2.5400  ...           0      25           1       7
4      True        0  32.16667  9.7867  ...           2      64           1       5
...     ...      ...       ...     ...  ...         ...     ...         ...     ...
1314   True        0  33.58333  4.5660  ...           0      94           1      19
1315  False        5  23.91667  3.1920  ...           3      12           1       5
1316   True        0  40.58333  4.6000  ...           2       1           1       2
1317   True        0  32.83333  3.7000  ...           0      60           1       7
1318   True        0  48.25000  3.7000  ...           2       2           1       0

[1319 rows x 12 columns]

In [ ]:
#Verificando Valores Nulos
data.isnull().any()

card           False
reports        False
age            False
income         False
share          False
expenditure    False
owner          False
selfemp        False
dependents     False
months         False
majorcards     False
active         False
dtype: bool

In [ ]:
#Importando Bibliotecas do Sklearn que serÃ£o utilizadas
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [ ]:
#DivisÃ£o dos Dados em treino/teste
X = data.drop(columns='card')
X2 = data.drop(columns=['card','share','expenditure','majorcards','active'])
y = data['card']

In [ ]:
x_treino, x_teste, y_treino, y_teste = train_test_split(X, y, test_size=0.3, random_state=47)
x2_treino, x2_teste, y2_treino, y2_teste = train_test_split(X2, y, test_size=0.3, random_state=47)

In [ ]:
import warnings
warnings.filterwarnings('ignore')


model = RandomForestClassifier(n_estimators=100)
cv_scores = cross_val_score(model, x_treino, y_treino, 
                            cv=5,
                            scoring='accuracy')

In [ ]:
print("AcurÃ¡cia {}".format(cv_scores.mean()))

AcurÃ¡cia 0.9815863689776734

In [ ]:
import warnings
warnings.filterwarnings('ignore')


model_02 = RandomForestClassifier(n_estimators=100)
cv_scores_02 = cross_val_score(model_02, x2_treino, y2_treino, 
                            cv=5,
                            scoring='accuracy')

In [ ]:
print("AcurÃ¡cia {}".format(cv_scores_02.mean()))

AcurÃ¡cia 0.8104289071680377